# ==========================================
# Локальні налаштування Visual Studio
# ==========================================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ==========================================
# Результати збірки (сміття, яке генерується автоматично)
# ==========================================
[Bb]in/
[Oo]bj/

# ==========================================
# Тимчасові файли та логи
# ==========================================
*.log
*.cache
*.tmp

# ==========================================
# Системні файли ОС (якщо відкриватимеш на різних ПК)
# ==========================================
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/